<!DOCTYPE html>
<html>
  <head>
    <title>SakuraAbacusSchool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <header>
      <%= render "shared/header" %>
    </header>
    <%= yield %>
  </body>
</html>
